[Unit]
Description=Monitor Worker for the process
After=network.target
Wants=network.target
Wants=monitor_worker_timer@%i.service

[Service]
Type=oneshot
ExecStart=/home/zhilovhub/monitor_worker.sh %i

[Install]
WantedBy=multi-user.target
